In [1]:
from sentiment_analysis.dframes import TelegramDataAnalyzer
from IPython.display import display
analyzer = TelegramDataAnalyzer()

In [2]:
# Get top positive messages
print("Top 15 Most Positive Messages:")
display(analyzer.get_top_messages(sentiment_type='positive', n=15,show_usernames=False))

print("\nTop 15 Most Negative Messages:")
display(analyzer.get_top_messages(sentiment_type='negative', n=15, show_usernames=False))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3259448275.py, line 6)

In [6]:
# 1. Get statistics by date:
date_stats = analyzer.get_sentiment_stats(by='date')
display(date_stats)

#2. Get statistics by hour:
hour_stats = analyzer.get_sentiment_stats(by='hour')
display(hour_stats)

#3. Get top helpful messages:
helpful_msgs = analyzer.get_top_messages(sentiment_type='helpful', n=5,show_usernames=False)
display(helpful_msgs)

#4. Get top messages by sentiment balance:
balanced_msgs = analyzer.get_top_messages(sentiment_type='balance', n=5,show_usernames=False)
display(balanced_msgs)

#5. Get user statistics:
user_stats = analyzer.get_sentiment_stats(by='user')
display(user_stats)

           sentiment_positive       sentiment_negative        \
                         mean count               mean count
date
2024-10-20              0.800     1              0.100     1
2024-10-21              0.100     4              0.325     4
2024-10-22              0.375     4              0.075     4
2024-10-25              0.471  2696              0.287  2696
2024-10-26              0.459   631              0.233   631
2024-10-27              0.494   156              0.253   156
2024-10-28              0.417     6              0.200     6

           sentiment_helpful       sentiment_sarcastic        \
                        mean count                mean count
date
2024-10-20             0.600     1               0.200     1
2024-10-21             0.225     4               0.225     4
2024-10-22             0.100     4               0.225     4
2024-10-25             0.364  2696               0.399  2696
2024-10-26             0.396   631               0.299   631
2024-10-27             0.438   156               0.284   156
2024-10-28             0.267     6               0.250     6

           sentiment_balance
                        mean count
date
2024-10-20             0.700     1
2024-10-21            -0.225     4
2024-10-22             0.300     4
2024-10-25             0.183  2696
2024-10-26             0.226   631
2024-10-27             0.240   156
2024-10-28             0.217     6

     sentiment_positive       sentiment_negative       sentiment_helpful  \
                   mean count               mean count              mean
hour
0                 0.480    30              0.240    30             0.370
1                 0.451    77              0.313    77             0.375
2                 0.545    86              0.250    86             0.417
3                 0.419   376              0.343   376             0.324
4                 0.399   544              0.323   544             0.303
5                 0.467   280              0.263   280             0.277
6                 0.533   133              0.227   133             0.429
7                 0.604   169              0.173   169             0.411
8                 0.520   331              0.293   331             0.411
9                 0.546   248              0.235   248             0.429
10                0.432   124              0.343   124             0.413
11                0.393    70              0.256    70             0.329
12                0.446   118              0.277   118             0.420
13                0.371    92              0.397    92             0.318
14                0.461    88              0.227    88             0.334
15                0.441   111              0.193   111             0.344
16                0.513    83              0.193    83             0.452
17                0.524    71              0.200    71             0.420
18                0.501    92              0.201    92             0.534
19                0.477   106              0.175   106             0.501
20                0.400   131              0.370   131             0.356
21                0.528    57              0.272    57             0.391
22                0.529    41              0.217    41             0.429
23                0.532    40              0.180    40             0.442

           sentiment_sarcastic       sentiment_balance
     count                mean count              mean count
hour
0       30               0.290    30             0.240    30
1       77               0.348    77             0.138    77
2       86               0.343    86             0.295    86
3      376               0.384   376             0.076   376
4      544               0.576   544             0.076   544
5      280               0.419   280             0.204   280
6      133               0.292   133             0.306   133
7      169               0.305   169             0.431   169
8      331               0.353   331             0.227   331
9      248               0.310   248             0.311   248
10     124               0.394   124             0.090   124
11      70               0.286    70             0.137    70
12     118               0.319   118             0.169   118
13      92               0.404    92            -0.026    92
14      88               0.274    88             0.234    88
15     111               0.294   111             0.248   111
16      83               0.272    83             0.320    83
17      71               0.273    71             0.324    71
18      92               0.272    92             0.300    92
19     106               0.267   106             0.302   106
20     131               0.411   131             0.030   131
21      57               0.365    57             0.256    57
22      41               0.244    41             0.312    41
23      40               0.178    40             0.352    40

,message_id,content,timestamp,sentiment_helpful
90,5391,A based leader + A strong community ðŸ’ª = Bullish,2024-10-25 06:25:53,1.0
94,13453,You will thank me later,2024-10-27 15:54:25,1.0
314,5189,+++ the potential is ðŸ”¥,2024-10-25 05:56:10,1.0
365,12589,Welcome all ducklings!,2024-10-27 03:20:35,1.0
534,2987,Absolutely it will,2024-10-25 04:15:22,1.0

,message_id,content,timestamp,sentiment_balance
90,5391,A based leader + A strong community ðŸ’ª = Bullish,2024-10-25 06:25:53,1.0
94,13453,You will thank me later,2024-10-27 15:54:25,1.0
142,961,Letâ€™s goooo,2024-10-25 03:19:39,1.0
191,3184,Go go go ðŸš€ðŸš€,2024-10-25 04:20:58,1.0
200,3183,Go go go ðŸš€ðŸš€,2024-10-25 04:20:58,1.0

                sentiment_positive       sentiment_negative        \
                              mean count               mean count
sender_username
A128457                      0.050     2              0.450     2
ABBA_6823                    0.000     1              0.000     1
AD1UP                        0.300    35              0.263    35
AFFonsoPPP                   0.000     1              0.000     1
A_020b                       0.550    10              0.320    10
...                            ...   ...                ...   ...
yufexu                       0.662    16              0.162    16
yukasol                      0.175     8              0.550     8
yusuf0613_i                  0.280    10              0.370    10
zeizeinb                     0.400     3              0.600     3
zeroxglu                     0.406   218              0.271   218

                sentiment_helpful       sentiment_sarcastic        \
                             mean count                mean count
sender_username
A128457                     0.100     2               0.350     2
ABBA_6823                   0.000     1               0.000     1
AD1UP                       0.431    35               0.557    35
AFFonsoPPP                  0.000     1               0.000     1
A_020b                      0.300    10               0.270    10
...                           ...   ...                 ...   ...
yufexu                      0.525    16               0.275    16
yukasol                     0.138     8               0.488     8
yusuf0613_i                 0.170    10               0.380    10
zeizeinb                    0.133     3               0.633     3
zeroxglu                    0.426   218               0.341   218

                sentiment_balance
                             mean count
sender_username
A128457                    -0.400     2
ABBA_6823                   0.000     1
AD1UP                       0.037    35
AFFonsoPPP                  0.000     1
A_020b                      0.230    10
...                           ...   ...
yufexu                      0.500    16
yukasol                    -0.375     8
yusuf0613_i                -0.090    10
zeizeinb                   -0.200     3
zeroxglu                    0.135   218

[222 rows x 10 columns]

In [ ]:
# User Activity
print("Most Active Users and Their Sentiment Profiles:")
display(analyzer.get_most_active_users(n=10))

In [ ]:
print("Overall Sentiment Statistics:")
display(analyzer.get_sentiment_stats(by='overall'))

In [ ]:
print("Sentiment Trends Over Time:")
fig_trends = analyzer.plot_sentiment_trends()
fig_trends.show()

print("\nHourly Patterns:")
fig_hourly = analyzer.plot_hourly_patterns()
fig_hourly.show()